{% extends "layout.html" %}
{% block content %}
<h1 style="text-align: center;">You go, budget-setter!</h1>
<b><a style="text-align: center;" href="{{ url_for('budgets.new_budget') }}"><h2 class="create">Create a new budget</h2></a></b>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
    {% for budget in budgets %}
        <div class="col">
            <div class="budget">
                <h4 class="card-title">#{{ budget.id }} - {{ budget.month }} Budget</h4>
                <div class="card-body">
                    <i><p class="card-text">Income: <b>${{ budget.income }}</b></p></i>
                    <i><p class="card-text">Budget: <b>${{ budget.budget }}</b></p></i>
                    <i><p class="left_cash">Leftover cash: <b>${{ budget.left_cash }}</b></p></i>
                </div>
                <div class="text-center">
                    <a class="btn btn-primary mr-3" href="{{ url_for('budgets.budget_update', budget_id=budget.id) }}" class="button">Update</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}